/* .container {
  width: 80%;
  margin: 0 auto;
} */

/* colors */
.-bg-primary {
  background: rgba(255, 255, 255, 1);
}
.btn-primary {
  background-color: rgba(182, 140, 90, 1);
}
:root {
  --Dark-03: rgba(112, 112, 112, 1);
  --Dark-02: rgba(65, 64, 64, 1);
  --color: rgba(255, 255, 255, 1);
}

/* button */
